*{
    margin: 0;
}

.contenedor{
    background-image: url("valentin.jpg");
    width: 100vw;
    height: 100vh;
    text-align: center;
}

p{
    font-size: xx-large;
    color: aliceblue;
    font-style: inherit;
    padding: 12%;
}

button{
    font-size: xx-large;
    padding: 0.75em;
}

#yesBtn{
    transform: translate(-100%,0);
}

#noBtn{
    position: absolute;
}